<h1>Part Statuses</h1>

<table border="1">
  <tr>
    <th>Part status</th>
    <th>Status description</th>
    <th>Actions</th>
  </tr>

<% @part_statuses.each do |part_status| %>
  <tr>
    <td><%= part_status.part_status %></td>
    <td><%= part_status.status_description %></td>
    <td><%= link_to 'Show', part_status %>
      <%= link_to 'Edit', edit_part_status_path(part_status) %>
      <%= link_to 'Destroy', part_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Part status', new_part_status_path %>
