<p id="notice"><%= notice %></p>

<p>
  <b>Location name:</b>
  <%= @location.location_name %>
</p>

<p>
  <b>Location description:</b>
  <%= @location.location_description %>
</p>

<p>
  <b>Location type:</b>
  <%= @location.location_type.location_type %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address %>
</p>

<p>
  <b>City:</b>
  <%= @location.city %>
</p>

<p>
  <b>State:</b>
  <%= @location.state %>
</p>

<p>
  <b>Zip code:</b>
  <%= @location.zip_code %>
</p>


<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
